@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Kalam&display=swap');


#nav {
    background-color: green;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 3em;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./img/bgsiswa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 37px;
}

form {
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 50px;
    font-family: 'Kalam', cursive;
}

td {
   font-size: 200%; 
   color: rgb(0, 0, 0);
}

input {
    border-radius: 5px;
    width: 300px;
    padding: 10px 17px;
    margin: 10px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Kalam', cursive;

}

#tambah {
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-family: 'Kalam', cursive;
    padding: 3px;
}

#tambah:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#button {
    margin-left: 5%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3px 2px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

#button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

a {
    margin-left: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: blue;
}

h2 {
    margin-top: -40px;
    margin-left: 10%;

    color: rgb(0, 0, 0);
    font-size: 20px;
}