@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Alice&family=Amiri:ital@1&family=Arima+Madurai&family=Audiowide&family=Bree+Serif&family=Coustard&family=EB+Garamond:wght@600&family=El+Messiri:wght@400;500&family=Lobster+Two&family=Merienda:wght@700&family=PT+Serif&family=Pacifico&family=Philosopher:wght@400;700&family=Poppins&family=Righteous&family=Silkscreen&family=Source+Serif+Pro&family=ZCOOL+XiaoWei&family=Zilla+Slab:wght@500&display=swap');

.navbar-brand {
    font-family: 'Philosopher', sans-serif;
    font-size: 25px;
}

.judul {
    padding-bottom: 50px;
}

section#MainHomeDevice {
  background-image: url('asset//landingpagenew.png');
  background-position: center top;
  background-size:  100%;
  background-repeat: no-repeat;
  height: 68rem;
  align-items: center;
}

section#MainHomeDevice .ShortDescription {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20%;
  text-align: center;
  justify-content: center;
  width: 45%;
  color: rgb(233, 233, 233);
}

section#MainHomeDevice .ShortDescription h3{
  font-family: 'Philosopher', sans-serif;
  font-size: 40px;
}
  
section#MainHomeDevice .ShortDescription p {
  font-family: 'PT Serif', serif;
  padding-top: 3%;
  padding-bottom: 10%;
  font-size: 20px;
  line-height: 25px;
}
  
section#MainHomeDevice .ShortDescription a {
  text-decoration: none;
  font-family: 'Philosopher', sans-serif;
  color:rgb(233, 233, 233); 
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 30px;
  background-color: rgb(3, 10, 150);
}
  
section#MainHomeDevice .ShortDescription a:hover {
  background-color: rgb(8, 13, 105);
}

.item1:hover {
  background-color: rgb(4, 61, 125);
  border-radius: 10px;
}

#Penawaran  {
    padding-top: 100px;
    font-family: 'Philosopher', sans-serif;
}

#about{
  margin-top: 100px;
  padding-top: 200px;
  padding-bottom: 200px;
  font-family: 'Philosopher', sans-serif;
  background-color: rgb(242, 242, 242);
}

#contact {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Philosopher', sans-serif;
}

.judul {
  font-size: 30px;
  font-weight: bold;
}

section#contact  ul li {
  list-style: none;
  text-align: center;
}

section#contact ul li a{
  text-decoration: none;
  color: #000;
  line-height: 40px;
  font-family: 'PT Serif', serif;
      
}
  
section#contact ul li a:hover{
  background-color: #075285;
  color: #dee7ec;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.3s;
}
  
section#contact ul li a i {
  padding-right: 10px;
}

#footer {
  background-color:rgb(57, 120, 192) ;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: #fff;
  font-family: 'Philosopher', sans-serif;
  text-align: center;
}


@media screen and (max-width: 1000px) {
  .HomeContent section#MainHomeDevice {
    background-image: url("asset/landingpagenew.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    height: 42rem;
    align-items: center;
  }
  .HomeContent section#MainHomeDevice .ShortDescription h3{
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: whitesmoke;
  }
  .HomeContent section#MainHomeDevice .ShortDescription p{
    font-family: 'PT Serif', serif;
    padding-top: 2%;
    padding-bottom: 10%;
    font-size: 15px;
    line-height: 20px;
    color: whitesmoke;
  }
    
  .HomeContent section#MainHomeDevice .ShortDescription a {
    font-family: 'Philosopher', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: whitesmoke;
    padding: 20px 30px;
    background-color:  rgb(3, 10, 150);
     border-radius: 25px;
  }

  section#footer {
      text-align: center;
      background-color:#075285;
      font-size: 18px;
      background-color: #075285;
      color: whitesmoke;
       padding: 10px 10px;
  }

}


@media screen and (max-width:900px) {
  .HomeContent section#MainHomeDevice .ShortDescription{
    display: none;
  }
}


