
h1{
    background-color: rgb(236, 209, 133);
    font-family: 'Pacifico', cursive;
}
h3{
    background-color: rgba(122, 255, 45, 0.418);
    font-family: 'Handlee', cursive;
}
.bio{ 
    font-family: 'Handlee', cursive;
}
h4{
    font-family: 'Handlee', cursive;
}
h5{
    font-family: 'Alfa Slab One', cursive;
}
h2{
    font-family: 'Alfa Slab One', cursive;
}
.card-text{
    font-family: 'Courgette', cursive;
}
.right{
    width: 25px;
    height: 25px;
    font-family: 'Handlee', cursive;
}
.navbar-brand{
    padding-left: 30px;
    color: rgb(29, 7, 153);
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}
.nav-item {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}