body {
  overflow-x: hidden;
}

button {
  border-radius: 3px;
  border: 1.5px solid rgb(0, 0, 0) !important;
  color: black;
  font-family: Trueno;
  transition: 0.3s;
  font-weight: 500 !important;
}

button:hover {
  border: 1.5px solid rgb(255, 168, 54)!important;
  background-color: rgb(255, 168, 54)!important;
  color: white !important;
}

.row {
  height: 30vh;
  margin-bottom: 5vh;
}

.box {
  height: 100%;
}

#demo {
  width: 80vw;
}

#imgd {
  background-color: rgb(12, 219, 26);
  max-width: 100%;
  max-height: 50%;
  position: relative;
  overflow: hidden;
}

#imgd > img {
  width: 100%;
}

#zoombtn {
  position: absolute;
  bottom: 0;
  left: 1vw;
  bottom: 1vh;
}

#zoombtn button {
  background-color: white!important;
  border: 0px solid black!important;
  border-radius: 3px!important;
  width: 4vw;
  height: 4vw;
  font-size: 30px;
}

#zoombtn button:hover {
  background-color: rgb(255, 146, 12)!important;
}
